
:root {
  --main-grey1: #161616;
  --main-grey2: #262626;
  --main-grey3: #565656;
  --main-grey4: #868686;
  --main-grey5: #A6A6A6;

  --title-font: "Times New Roman", Times, serif;
}

html{
  background-color: var(--main-grey1) !important;
}
body {
  background-color: var(--main-grey1) !important;
  margin: 0;
}

@-webkit-keyframes rainbow {
  from {
    -webkit-filter:hue-rotate(10deg);
  }
  to {
    -webkit-filter:hue-rotate(360deg);
  }
}

@keyframes rainbow {
 from {
    -webkit-filter:hue-rotate(10deg);
            filter:hue-rotate(10deg);
    }
  to {
    -webkit-filter:hue-rotate(360deg);
            filter:hue-rotate(360deg);
    }
}

ul.we-navbar {
  list-style-type: none;
  margin: 0;
  margin-left:2px;
  padding: 0;
  padding-top: 5%;
  width: 8%;
  height: 100%;
  position: fixed;
  overflow: auto;
}

ul.we-off-navbar {
  list-style-type: none;
  margin: 0;
  margin-left:2px;
  padding: 0;
  padding-top: 5%;
  width: auto;
  height: 100%;
  position: fixed;
  overflow: auto;
}

.we-locale-switcher{
  background-color: var(--main-grey3);
  border-color: var(--main-grey3);
  border-radius: 25px;
  font-size: 105%;
  text-align: center;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, .4);
}

.we-locale-switcher-item{
  background-color: var(--main-grey4);
}

.we-main-container{
  /*overflow: hidden;*/
  /*height:auto;*/
}

.we-hero-image{
  /*background-image: url('../images/23311_lores.jpg');*/
  background-image: url('../images/23311_50size.jpg');
  filter: grayscale(50%);
  -webkit-animation: rainbow 60s steps(136) infinite;
}

.we-photo-credits{
  font-size: 75%;
  width: 50%;
  opacity: 0.25;
}

.we-company-name{
  margin-top: 100px;
  margin-left: 5%;
  margin-bottom: 50px;
  font-family: var(--title-font);
}

.we-hero-title{
  font-size: 400%;
  font-family: var(--title-font);
}

.we-page-title{
  font-family: var(--title-font);
  color: var(--main-grey5);
  font-size: 400%;
}

.we-page-subtitle{
  color: var(--main-grey5);
}

.we-abstract{
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  background: rgba(0, 0, 0, 0.6);
  /*border-radius: 25px*/;
}

p.we-abstract-p{
  font-size: 120%;
}

p.we-abstract-disclaimer{
  font-size: 150%;
  font-weight: bold;
}

.we-hero-buttons{
  margin-top: 20px;
  margin-bottom: 20px;
}

.we-superhero-button{
  border-radius: 25px !important;
  background-color: #68D500 !important;
  font-size: 200% !important;
  font-weight: bold !important;
}

.uk-navbar-nav {
  background-color: var(--main-grey2) !important;
}

.uk-navbar-container {
  background-color: var(--main-grey2) !important;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.we-team-card{
  max-width: 400px;
}

.we-team-card-top{
  background-color: var(--main-grey5) !important;
}

.we-team-card-body{
  /*background-color: var(--main-grey5) !important;*/
}

.we-human-picture{
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 5px;
  max-height: 200px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  background-color: var(--main-grey5) !important;
}

.we-human-picture{
  margin-top: 10px;
  margin-bottom: 5px;
  max-height: 200px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  filter: saturate(0) contrast(115%); 
}

.we-human-picture:hover{
  filter: saturate(1);
}

.we-sponsor-picture{
  margin-top: 10px;
  margin-bottom: 5px;
  max-height: 100px;
}

.we-page-top{
  font-size: 110%;
  max-width: 50%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background: rgba(0, 0, 0, 0.25);
  /*border-radius: 25px*/;
  margin-bottom: 20px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.we-full-authors-list{
  padding-top: 20px;
}

@media (min-width: 600px){
  .we-distribution-container{
    min-height: 300px;
  }
}

@media (min-width: 900){
  .we-explore-menu {
    position: fixed;
    top: 80px;
    bottom: 0;
    box-sizing: border-box;
    width: auto !important;
    padding: 40px 40px 60px 40px;
  }
  .we-explore-main {
    padding: 5px;
  }
  .we-distribution-container{
    min-height: 450px;
  }
}

@media (min-width: 1400px){
  .we-explore-menu {
    position: fixed;
    top: 80px;
    bottom: 0;
    box-sizing: border-box;
    width: 250px !important;
    padding: 40px 40px 60px 40px;
    border-right: 1px #e5e5e5 solid;
    overflow: auto;
  }
  .we-explore-main {
    padding-left: 250px;
  }
  
  .we-distribution-container{
    min-height: 700px;
  }
}

.we-data-collection-title{
  font-size: 120%;
}

.we-data-color-shower{
  font-size: 150%;
}

.we-data-table{
  width: 600px !important;
}

.uk-button-primary{
  background-color: #68D500 !important;
  /*background-color: var(--main-grey5) !important;*/
  font-weight: bold !important;
  color: #fff !important;
  font-size: 130% !important;
  border-radius: 10px !important; 
}

.uk-button-primary:hover{
  background-color: var(--main-grey4) !important;
}

.we-hero-button{
  background-color: var(--main-grey3) !important;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px !important;
  font-weight: bold !important;
  font-size: 200% !important;
}

.we-hero-button:hover{
  background-color: var(--main-grey5) !important
}

.count-down-text{
  font-size: 150%;
}

.uk-progress{
  border-radius: 5px !important;
}

.we-overlay{
  width: 700px;
  background-color: var(--main-grey2) !important;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.we-stack-logo{
  max-width: 35px;
  margin: 5px;
}