
body {
  margin: 0;
}

@-webkit-keyframes rainbow {
  from {
    -webkit-filter:hue-rotate(10deg);
  }
  to {
    -webkit-filter:hue-rotate(360deg);
  }
}

@keyframes rainbow {
 from {
    -webkit-filter:hue-rotate(10deg);
            filter:hue-rotate(10deg);
    }
  to {
    -webkit-filter:hue-rotate(360deg);
            filter:hue-rotate(360deg);
    }
}

ul.we-navbar {
  list-style-type: none;
  margin: 0;
  margin-left:2px;
  padding: 0;
  padding-top: 5%;
  width: 8%;
  height: 100%;
  position: fixed;
  overflow: auto;
}

ul.we-off-navbar {
  list-style-type: none;
  margin: 0;
  margin-left:2px;
  padding: 0;
  padding-top: 5%;
  width: auto;
  height: 100%;
  position: fixed;
  overflow: auto;
}

li.we-navbar-item a {
  display: block;
  color: #000;
  /*color: #fff;*/
  padding-top: 8px;
  /*padding-left: 13px;*/
  padding-right: 13px;
  text-decoration: none;
  font-weight: bold;
}

li.we-navbar-item a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.we-main-container{
  /*overflow: hidden;*/
  /*height:auto;*/
}

/*.element:hover {
  
}*/

.we-hero-image{
  background-image: url('../images/23311_lores.jpg');
  filter: grayscale(50%);
  /*filter: hue-rotate(8deg);*/
  /*overflow: hidden;*/
  -webkit-animation: rainbow 60s steps(136) infinite;
}

.we-photo-credits{
  font-size: 75%;
  width: 50%;
  opacity: 0.25;
}

.we-company-name{
  margin-top: 100px;
  margin-left: 5%;
  margin-bottom: 50px;
}

.we-hero-title{
  font-size: 400%;
  /*margin-top: 150px;*/
}

.we-abstract{
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  background: rgba(0, 0, 0, 0.5);
  /*border-radius: 25px*/;
}

p.we-abstract-p{
  font-size: 120%;
}

p.we-abstract-disclaimer{
  font-size: 150%;
  font-weight: bold;
}

.we-hero-buttons{
  /*border-radius: 25px*/;
  margin-top: 20px;
  margin-bottom: 20px;
}

.we-hero-button{
  /*border-radius: 25px*/;
}

.uk-navbar-nav {
  background-color: #262626 !important;
}

.uk-navbar-container {
  background-color: #262626 !important;
}

.we-team-card{
  max-width: 400px;
}

.we-human-picture{
  border-radius: 100%;
  padding-top: 10px;
  max-height: 200px;
}

.we-sponsor-picture{
  padding-top: 10px;
  max-height: 100px;
}

.we-page-top{
  font-size: 110%;
  max-width: 50%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background: rgba(0, 0, 0, 0.25);
  /*border-radius: 25px*/;
  margin-bottom: 20px;
}

.we-full-authors-list{
  padding-top: 20px;
}
