
body {
  margin: 0;
}

@-webkit-keyframes rainbow {
   from { -webkit-filter:hue-rotate(10deg); }
     to { -webkit-filter:hue-rotate(360deg); }
}

@keyframes rainbow {
 from {
    -webkit-filter:hue-rotate(10deg);
            filter:hue-rotate(10deg);
    }
  to {
    -webkit-filter:hue-rotate(360deg);
            filter:hue-rotate(360deg);
    }
}

ul.we-navbar {
  list-style-type: none;
  margin: 0;
  margin-left:2px;
  padding: 0;
  padding-top: 5%;
  width: 8%;
  height: 100%;
  position: fixed;
  overflow: auto;
}

ul.we-off-navbar {
  list-style-type: none;
  margin: 0;
  margin-left:2px;
  padding: 0;
  padding-top: 5%;
  width: auto;
  height: 100%;
  position: fixed;
  overflow: auto;
}

li.we-navbar-item a {
  display: block;
  color: #000;
  /*color: #fff;*/
  padding-top: 8px;
  /*padding-left: 13px;*/
  padding-right: 13px;
  text-decoration: none;
  font-weight: bold;
}

li.we-navbar-item a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.we-main-container{
  margin-left:8%;
  /*margin-left:50%;*/
  /*padding-left: 2px;*/
  /*padding-top: 0;*/
  height:auto;
}

/*.element:hover {
  
}*/

.we-hero-image{
  background-image: url('../images/23311_lores.jpg');
  filter: grayscale(50%);
  /*filter: hue-rotate(8deg);*/
  -webkit-animation: rainbow 60s steps(36) infinite;
}

.we-company-name{
  margin-top: 100px;
  margin-left: 5%;
  margin-bottom: 50px;
}

.we-hero-title{
  font-size: 400%;
  /*margin-top: 150px;*/
}

.we-abstract{
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

p.we-abstract-p{
  font-size: 120%;
}

p.we-abstract-disclaimer{
  font-size: 150%;
  font-weight: bold;
}

.we-hero-buttons{
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.we-hero-button{
  border-radius: 25px;
}

.we-team-card{
  max-width: 400px;
}

.we-team-picture{
  border-radius: 100%;
  max-width: 80%;
}

/*
a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after { 
  width: 100%; 
  left: 0; 
}*/